/* 
    Document   : controlStyle1
*/

.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Tahoma";
    -fx-background-image: url(./bg.jpg);
    -fx-background-size: cover;
    -fx-focus-color: #B6A678;
}

#BigLabe {
    -fx-font-size: 50pt;
}
.label {
    -fx-text-fill: white;
    -fx-padding: 5;
}

.button{
    -fx-text-fill: #006464;
    -fx-background-color: beige;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-border-color:azure;
}

.slider{
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}